{% extends "base.html.twig" %}

{% block title %}Check before queue!{% endblock %}

{% block stylesheets %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="css/sweetalert2.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="content">
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                <img class="rounded-circle" width="80" src="{{ article.author_image }}" />
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                <h2 style="padding-top: 20px;">{{ article.title }}</h2>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                <img class="img-thumbnail" width="150" src="{{ article.image }}" style="float: right" />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30">
                <div class="tour-booking-form">
                    <form id="queue-form">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <h4 class="tour-form-title">Author</h4>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="author_name">Author Name</label>
                                    <input id="author_name" name="author_name" type="text" value="{{ article.author_name }}" placeholder="Title" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="author_image">Author Image</label>
                                    <input id="author_image" name="author_image" type="text" value="{{ article.author_image }}" placeholder="Image URL" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: 35px;">
                                <h4 class="tour-form-title">Article</h4>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="name">Title</label>
                                    <input id="title" name="title" type="text" value="{{ article.title }}" placeholder="Title" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="name">Cover Image</label>
                                    <input id="image" name="image" type="text" value="{{ article.image }}" placeholder="Image URL" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="control-label" for="text">Text</label>
                                    <textarea class="form-control" id="text" name="text" rows="15" placeholder="Text">{{ article.text }}</textarea>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <span class="badge badge-primary">~{{ article.chars_count }} Characters</span>
                                    </li>
                                    <li class="nav-item">
                                        <span class="badge badge-primary">~{{ article.paragraphs_count }} Paragraphs</span>
                                    </li>
                                    <li class="nav-item">
                                        <span class="badge badge-success">~// TODO Posts</span>
                                    </li>
                                </ul>
                            </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: 25px;">
                                <button type="submit" name="singlebutton" class="btn btn-primary">Queue!</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/sweetalert2.min.js"></script>
<script src="js/medium.js"></script>
{% endblock %}